table, th, td {
	border: 1px solid black;
}

li.nav {
	display: inline;	
	float: left;
}

#title {
    display: block;	
    padding-left: 1em;
    padding-right: 1em;
    font-size: 14px;
	text-align: center;
}

li a {
	display: block;
	padding: 14px 16px;
	background-color: #aaaaaa;	
	text-align: center;
	
}

li a:hover {
	background-color: rgb(255, 255, 255);
}

ul.nav {
	background-color: #dddddd;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

